

<div mat-dialog-content style=" width:300px; height: 700px; color: rgb(67, 67, 67); display: inline; padding: 40px 70px 30px 70px ; margin: auto;"> 
<mat-form-field class="full-width-input">
<input matInput type="text" placeholder="text"
 [(ngModel)]="editingStudent.text" required>
</mat-form-field>
</div>


<div mat-dialog-actions>
  <button style="margin-left:auto;color:red; height:30px; font-family:Calibri Light;font-size: 20px; border: 1px solid grey; border-radius: 5px; cursor: pointer; padding: 15px 70px 30px 70px ; background: #e9dfdf" mat-raised-button (click)="onNoClick()">CANCEL</button>
  <button style="margin-right:auto; color:green;height:30px; font-family:Calibri Light;font-size: 20px;border: 1px solid grey;border-radius: 5px; cursor: pointer; padding: 15px 70px 30px 70px; background: #e9dfdf" [mat-dialog-close]="editingStudent">SAVE</button>

