<h1 style="color: green;text-decoration: underline rgb(18, 219, 18); text-align:center; font-size: 25px; font-family: Calibri Light;"mat-dialog-title >Do you want to delete it?</h1>
<div mat-dialog-content style =" padding: 0px; margin: auto;">

<button style="position: relative;
left: 32%;
transform: translate(-50%, 0);padding: 1px 1px; margin-right:auto; color:red; height:30px; font-family: Calibri Light; font-size: 20px; border: 1px solid grey; padding: 15px 70px 30px 70px; border-radius: 5px; cursor: pointer;background: #e9dfdf;" mat-raised-button (click)="onNoClick()">NO</button>
<button style="position: relative;
left: 32%;
transform: translate(-50%, 0);padding: 0px 0px; margin-right:auto; color:green; font-family: Calibri Light; height:30px; font-size: 20px; border: 1px solid grey; padding: 15px 70px 30px 70px; border-radius: 5px; cursor: pointer; background: #e9dfdf;" (click)="onYesClick()">YES</button>
<!--
</div> -->


<!-- СМАЙЛИК <button type="button">
    <img src="icon.svg" alt="Иконка" width="20" height="20">
  </button>  -->